{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
<title>AIM | PSC</title>
<!-- for-mobile-apps -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon" href="{% static '/images/AIMLOGO.jpg'%}>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="title" content="aim psc nilambur">
<meta name="description" content="kerala psc, upsc, rrb, groupd,police,fireforce,ldc,ld clerk,etc kerala psc materials and an institute with good value and fantastic staff. ">
<meta name="keywords" content="kerala psc,psc,kpsc,thulasi,aim,aim nilambur,wandoor,psc center,best,lakshya,kerala psc,upsc,police">
<meta name="robots" content="index, follow">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="language" content="English">
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //for-mobile-apps -->
<link href="{% static '/css/bootstrap.css' %}" rel="stylesheet" type="text/css" media="all" />
<link href="{% static 'css/newStyle.css' %}" rel="stylesheet" type="text/css" media="all" />

<!-- js -->
<script type="text/javascript" src="{% static '/js/jquery-2.1.4.min.js'%}"></script>
<!-- //js -->
<!-- font-awesome icons -->
<link href="{% static '/css/font-awesome.css' %}" rel="stylesheet"> 
<!-- //font-awesome icons -->
<link href="//fonts.googleapis.com/css?family=Alegreya+Sans+SC:100,100i,300,300i,400,400i,500,500i,700,700i,800,800i,900,900i" rel="stylesheet">
<link href="//fonts.googleapis.com/css?family=Roboto+Mono:100,100i,300,300i,400,400i,500,500i,700,700i" rel="stylesheet">
</head>
	
<body>
<!-- header -->
	<!-- banner -->	
<div class="header-w3layoutstop">
		<div class="container">  
			<div class="hdr-w3left navbar-left">
				<p><span class="fa fa-phone"></span> +919207343144 </p> 
			</div>
			<div class="search-grid">
				<form action="#" method="post">
					<input type="text" placeholder="Search" class="big-dog" name="Subscribe" required="">
					<button class="btn1"><i class="fa fa-search" aria-hidden="true"></i></button>
				</form>
			</div>	
		</div>
	</div>
<!-- navigation -->


<div class="nav-links">	
	<nav class="navbar navbar-inverse">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>                        
				</button>
				
				<a class="navbar-brand" href=""><h1>AIM | PSC</h1></a>
			</div>
			<div class="collapse navbar-collapse" id="myNavbar">
				<ul class="nav navbar-nav link-effect">
					<li class="active"><a href="#">Home</a></li>
					<li><a href="#about" class="scroll">about</a></li>
					<li><a href="{% url 'gallery' %}" >gallery</a></li>
					<li><a href="{% url 'blog' %}" >Current Affairs</a></li>
					<li><a href="https://wa.me/919207343144">Whatsapp</a></li>
				</ul>
			</div>
		</div>
	</nav>
</div>
<!-- /navigation -->

<!-- //header -->
<!-- banner -->	
	<div class="banner" >
		<div class="container">
			<h3>സ്വാതന്ത്ര്യത്തിന്റെ സുവർണ്ണ വാതിൽ തുറക്കുന്നതിനുള്ള താക്കോൽ വിദ്യാഭ്യാസമാണ്</h3>
			
			<div class="wthree_banner_grids">
				<div class="col-md-3 wthree_banner_grid">
					<span class="fa fa-graduation-cap" aria-hidden="true"></span>
					<h4>KERALA PSC</h4>
				</div>
				<div class="col-md-3 wthree_banner_grid">
					<span class="fa fa-book" aria-hidden="true"></span>
					<h4>RRB GROUP D</h4>
				</div>
				<div class="col-md-3 wthree_banner_grid">
					<span class="fa fa-laptop" aria-hidden="true"></span>
					<h4>UPSC</h4>
				</div>
				<div class="col-md-3 wthree_banner_grid">
					<span class="fa fa-user" aria-hidden="true"></span>
					<h4>FACULTY</h4>
				</div>
			
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<!-- about -->
	<div class="about" id="about">
		<div class="container">
		<div class="about-agileits-title"> 
				<h3>SYLLABUS</h3> 
			</div>
			<div class="w3ls-about-grids">
			<div class="col-md-6 w3l-about-img">
				<img src="{% static '/images/aim09.jpg'%}" alt="image">
				</div>
				<div class="col-md-6 w3l-about-left">
					<div>
						<a href="https://www.keralapsc.gov.in/sites/default/files/2021-06/syll.pdf" target="_blank"><i class="fas fa-chevron-circle-down mr-1"></i>LGS main exam syllabus 2021</a><br>
						<a href="https://www.keralapsc.gov.in/sites/default/files/2021-06/ldc_main_exam_final_malayalam___english.pdf" target="_blank"><i class="fas fa-chevron-circle-down mr-1"></i>LDC main exam syllabus 2021</a><br>
					</div>
				
			<br>
				<div style="padding: 5px; color:whitesmoke ; background-color: rgb(27, 25, 23);">
					                               <h2 style="color: black;background-color: white;">USEFUL LINKS</h2>

																<a href="https://www.keralapsc.gov.in/" target="_blank"><i class="fas fa-chevron-circle-down mr-1"></i>Kerala PSC Official Website</a><br>
																<a href="https://thulasi.psc.kerala.gov.in/thulasi/" target="_blank"><i class="fas fa-chevron-circle-down mr-1"></i>Kerala PSC One Time Registration</a><br>
																<a href="https://www.keralapsc.gov.in/index.php?option=com_content&amp;view=article&amp;id=6107:short-list-2019&amp;catid=103:shortlist" target="_blank"><i class="fas fa-chevron-circle-down mr-1"></i>Kerala PSC Short List</a><br>
																<a href="https://www.keralapsc.gov.in/index.php?option=com_content&amp;view=article&amp;id=6108:rank-list-2019&amp;catid=102:ranklist" target="_blank"><i class="fas fa-chevron-circle-down mr-1"></i>Kerala PSC Ranked Lists</a><br>
																<a href="https://www.keralapsc.gov.in/index.php?option=com_docman&amp;task=cat_view&amp;gid=179" target="_blank"><i class="fas fa-chevron-circle-down mr-1"></i>Kerala PSC Provisional Answer Key (OMR)</a><br>
																<a href="https://www.keralapsc.gov.in/index.php?option=com_docman&amp;task=cat_view&amp;gid=180" target="_blank"><i class="fas fa-chevron-circle-down mr-1"></i>Kerala PSC Final Answer Key (OMR)</a><br>
																<a href="https://www.keralapsc.gov.in/index.php?option=com_docman&amp;task=cat_view&amp;gid=506&amp;Itemid=15" target="_blank"><i class="fas fa-chevron-circle-down mr-1"></i>Kerala PSC Provisional Answer Key (Online)</a><br>
																<a href="https://www.keralapsc.gov.in/index.php?option=com_docman&amp;task=cat_view&amp;gid=511&amp;Itemid=15" target="_blank"><i class="fas fa-chevron-circle-down mr-1"></i>Kerala PSC Final Answer Key (Online)</a><br>
																<a href="https://www.keralapsc.gov.in/index.php?option=com_docman&amp;task=cat_view&amp;gid=878&amp;Itemid=161" target="_blank"><i class="fas fa-chevron-circle-down mr-1"></i>Kerala PSC Question Paper (Descriptive)</a><br>
															
				</div>
				
				<div class="clearfix"> </div>
			 
			</div>
		</div>
	</div>
	<!-- //about -->
<!-- //banner -->	<!-- about -->
	<div class="about" id="about">
		<div class="container">
		<div class="about-agileits-title"> 
				<h3>About us</h3> 
			</div>
			<div class="w3ls-about-grids">
			<div class="col-md-6 w3l-about-img">
				<img src="{% static '/images/2.jpg'%}" alt="image" height="400px">
				</div>
				<div class="col-md-6 w3l-about-left">
				<i class="fa fa-globe" aria-hidden="true"></i>
					<h2>Welcome</h2>
					<h5>AIM PSC WELCOMES YOU</h5>
					<p>AIM PSC is the only one coaching centre in Kerala which enables the candidate to reach his dream career through competitive exams. The envious results created by us in this previous years attracted many candidates were from the farthest districts to our institute. For many years, AIM has been continuing as the No.1 champion in the race of competitive exam coaching. We speak through our results.<span>The unique tests listed below can lead you to your dream job : OMR Test, Count Down Exam, Monthly Rank List Exam, TV Exams, CA Exam, Weekly Subject wise Exam, Model Exam, Tips, Book Exams, Math-English workshop… etc.

</span></p>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<!-- //about -->
<!-- Our services -->
<div class="services" id="services">
	<h3 class="wthree_head">Our Services</h3>
	<div class="container">
		<div class="stylegrid2">
			<div class="col-md-6 stylegridtext">
				<h3>HIGH PROFILE STAFF</h3>
				<span></span>
				<p>The topmost secret of our victory is the unity of the best teachers of Kerala in the competitive exam field. AIM becomes unique by the unit test, model test, motivational sessions- all these take the candidate to the shores of the success. The inspiration of our candidates are the fully or cent per cent satisfied Alumni of AIM.</p>
				<p>The only one PSC coaching center which leads its candidates to the top position and distinctive training methods. The champion of this institute which transforms majority of its candidates as reputed Government officials. </p>
				<div class="readmore">
					<a href="#" data-toggle="modal" data-target="#myModal">Read more</a>
				</div>
			</div>
			<div class="col-md-6 stylegridimg">
				<img src="{% static '/images/1.jpg'%}" alt="">
			</div>
			<div class="clearfix"></div>
		</div>
		
		<div class="stylegrid3">
			<div class="col-md-6 stylegridimg">
				<img src="{% static '/images/4.jpg'%}" alt="">
			</div>
			<div class="col-md-6 stylegridtext">
				<h3>Students FREEDOM</h3>
				<span></span>
				<p>The topmost secret of our victory is the unity of the best teachers of Kerala in the competitive exam field. AIM becomes unique by the unit test, model test, motivational sessions- all these take the candidate to the shores of the success. The inspiration of our candidates are the fully or cent per cent satisfied Alumni of AIM.</p>
				<p>The only one PSC coaching center which leads its candidates to the top position and distinctive training methods. The champion of this institute which transforms majority of its candidates as reputed Government officials. </p>
				<div class="readmore">
					<a href="#" data-toggle="modal" data-target="#myModal">Read more</a>
				</div>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
</div>
<!-- Our services -->

<!-- contact -->

<div class="contact" id="contact">
	<div class="container">
	<h3>Contact</h3>
	<div class="col-md-6 w3-left-contact">
	<div class="agile-sub-left">
	<p>AIM | NILAMBUR<br>
	<span>MALAPPURAM DIST </span>
		KERALA.</p>

	<ul>
			<li>+919207343144</li>
							</ul>

	
	</div>
	<div class="agile-sub">
			<h4>Get Free Updates</h4>
		  

	</div>
	</div>
	<div class="col-md-6 w3-right-contact">
	<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3912.804650832501!2d76.22250211401379!3d11.275765791983849!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3ba63bc80221181d%3A0xc661f3ceabf946b7!2sAim%20Psc%20Nilambur!5e0!3m2!1sen!2sin!4v1611937818176!5m2!1sen!2sin" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>"

	</div>
	<div class="clearfix"></div>
	
</div>
</div>

<!-- contact -->

<!-- contact -->
	<div class="contact1" id="mail">
		<div class="container">
			<div class="map-pos">
				<div class="col-md-4 address-row">
					<div class="col-xs-2 address-left">
						<span class="glyphicon glyphicon-home" aria-hidden="true"></span>
					</div>
					<div class="col-xs-10 address-right">
						<h5>Visit Us</h5>
						<p>Nilambur, malappuram, kerala</p>
					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="col-md-4 address-row w3-agileits">
					<div class="col-xs-2 address-left">
						<span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
					</div>
					<div class="col-xs-10 address-right">
						<h5>Mail Us</h5>
						<p><a href="mailto:aimkeralam@gmail.com"> aimkeralam@gmail.com</a></p>
					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="col-md-4 address-row">
					<div class="col-xs-2 address-left">
						<span class="glyphicon glyphicon-phone" aria-hidden="true"></span>
					</div>
					<div class="col-xs-10 address-right">
						<h5>Call Us</h5>
						<p>+919207343144</p>
					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="clearfix"> </div>
			</div>
			
		</div>
	</div>
	<!-- //contact -->
	
<div class="copyright">
			<div class="container">
				<p>© 2018-2021 AIM PSC CENTER | NILAMBUR. All rights reserved |</p>
			</div>
		</div>

<!-- bootstrap-modal-pop-up -->
	<div class="modal video-modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModal">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					AIM | NILAMBUR
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>						
				</div>
					<div class="modal-body">
						<img src="images\5.jpg" alt=" " class="img-responsive" />
						<p>aim nilambur the best job based institute in nilambur</i></p>
					</div>
			</div>
		</div>
	</div>
<!-- //bootstrap-modal-pop-up --> 

<!-- js for portfolio  -->
	<script src="{% static '/js/jquery.chocolat.js'%} "></script>
	<link rel="stylesheet " href="{% static '/css/chocolat.css'%} " type="text/css" media="all" />
	<!--light-box-files -->
	<script type="text/javascript">
		$(function () {
			$('.portfolio-grids a').Chocolat();
		});
	</script>
	<!-- /js for portfolio  -->

<!-- start-smoth-scrolling -->
<script type="text/javascript" src="{% static 'js/move-top.js'%}"></script>
<script type="text/javascript" src="{% static '/js/easing.js'%}"></script>
<script type="text/javascript">
	jQuery(document).ready(function($) {
		$(".scroll").click(function(event){		
			event.preventDefault();
			$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
		});
	});
</script>
<!-- start-smoth-scrolling -->
<!-- for bootstrap working -->
	<script src="{% static '/js/bootstrap.js'%}"></script>
<!-- //for bootstrap working -->
<!-- here stars scrolling icon -->
	<script type="text/javascript">
		$(document).ready(function() {
			/*
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
				};
			*/
								
			$().UItoTop({ easingType: 'easeOutQuart' });
								
			});
	</script>
<!-- //here ends scrolling icon -->
</body>
</html>
